<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print Page</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div style="display: flex; align-items: center; padding-bottom: 30px;">
        <img src="./asia.png" style="width: 60px; height: 60px; ">
        <h6 style="text-align: center ;">Asia Logistics Inc</h6>
    </div>
    <%var i =0;%>
    <% for(doc of doc_list){ %>  
    <div>
        <div class="numbers" style="display: flex;justify-content: space-around;">
            <h5>Mark Number:<%= doc.mn %></h5>
            <h5>Container Number:<%= doc.cn %></h5>
        </div>
        
        <div class="photos">
            <% for(filename of filename_list[i]){ %>
            <img class="card-img-top" src="photos/<%=doc.mn+'/'+filename%>" alt="Card image cap">
            <%}%>
        </div> 
    </div>
    <%var i=i+1 %>
    <div style="height: 30px;"></div>
    
    <div style="page-break-after:always; "></div>
    <div style="page-break-before:always; "></div>   

    <%}%>

    
</body>
</html>