<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Asia Logistics Inc</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <div class="logo">
        <img src="./asia.png" style="width: 100px; height: 100px; ">
        <h1 style="text-align: center ;">Asia Logistics Inc</h1>
    </div>

    
    <form method="POST" action="/upload" enctype="multipart/form-data">
        
        <div class="container">

        <div class="inner" style="margin: 50px 0px;" >
        <p class="note">Please enter your Info:</p>
        <div class="input-group mb-3" >
            <span class="input-group-text" id="inputGroup-sizing-default">Name<span class="required">*</span></span>
            <input class="form-control name" name="name" type="text" placeholder="Please type Your Name"  required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone(+1)<span class="required">*</span></span>
            <!-- <span class="input-group-text" id="inputGroup-sizing-default">(+1)</span> -->
            <input class="form-control phone" name="phone" type="text" placeholder="Please type your phone number" required pattern="\d{10}" maxlength="10"> 
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Company</span>
            <input class="form-control company" name="company" type="text" placeholder="Please type your Company Name" >
        </div></div>
        
        <div class="inner" style="margin: 50px 0px;">
        <p class="note">Please enter the <span style="color: red;">Mark Number</span> and <span style="color: red;">Container Number</span>:</p>
        <div class="input-group mb-3">        
            <span class="input-group-text" id="inputGroup-sizing-default">MN<span class="required">*</span></span>
            <input class="form-control mn" name="mn" type="text" placeholder="Mark Number" required pattern="\w\w\d{3}" maxlength="5">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">CN<span class="required">*</span></span>
        <input class="form-control cn" name="cn" type="text" placeholder="Container Number" required>
        </div>
        </div>

        <div class="mb-3 inner" style="margin: 50px 0px;">
            <label for="formFileMultiple" class="form-label note">Please Select at least 3 photos<span class="required">*</span>:</label>
            <input class="form-control files" type="file" id="formFileMultiple" name="file" multiple required  accept=".jpg, .jpeg, .png" onchange="fileCountCheck(this,3,5)">
        </div>

        <div class="col-auto">
            <button type="submit" class="submit btn btn-primary mb-3" value="Upload" >Submit</button>
        </div>
    </div>
    </form>

<script>
function fileCountCheck(filesObj, minFileNum, maxFileNum) {
                // console.log(filesObj.files); // 文件对象
 
         if (window.File && window.FileList) {
 
             var fileCount = filesObj.files.length;
 
             if (fileCount < minFileNum || fileCount > maxFileNum) {
 
                 // 不符合数量的处理
                window.alert('Please Select at Least 3 images and No More Than 5!!!');
                //  filesObj.files={};
                console.log(filesObj ,typeof filesObj.files,filesObj.files,fileCount,FileList);
                var _file = document.getElementById("formFileMultiple");
                console.log(_file.outerHTML)
                _file.outerHTML = _file.outerHTML;
            
                 return false;
             } else {
                 return true;
             }
         } 
 
     }  
</script>
</body>
</html>