
a{
    color:#00B7FF;
    text-decoration: none;
}
div.photos{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}
img.card-img-top{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.photo h2{
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 1px solid #ccc;
}
.photo img{
    height: 100px;
}
.photo div{
    margin-top: 5px;
    text-align: center;
}
.photo .download{
    padding: 5px;
}
div.number{
    display: flex;
}
span.required{
    color: #f51a1a;

}

div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}