
.note{
    font-size: 1rem;
}
span.input-group-text{
    font-size: 0.8rem;
}
div.photos{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}
img.card-img-top{
    width: 300px;
    height: 300px;
    margin: 10px;
}

div.number{
    display: flex;
}
span.required{
    color: #f51a1a;

}

div.logo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-auto{
    display: flex;
    justify-content: center;
}
